<form #form="ngForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput type="number" name="id" [(ngModel)]="data.id" placeholder="Id" [disabled]="isEdit" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" name="title" [(ngModel)]="data.title" placeholder="Title" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="color" name="color" [(ngModel)]="data.color" placeholder="Color" required>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput name="text" [(ngModel)]="data.text" placeholder="Text" required></textarea>
        </mat-form-field>
    </div>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">No Thanks</button>
    <button mat-button (click)="done()" cdkFocusInitial>{{(isEdit)?"Update":"Add"}}</button>
</div>