/* You can add global styles to this file, and also import other style files */
@import "scss/veriables";

body {
  background-color: #fafafa;
  font-family: $app-font;

  h1 {
    font-size: $h1-font-size;
    margin: $h1-margin;
  }

  h2 {
    font-size: $h2-font-size;
    margin: $h2-margin;
  }

  p {
    margin: $p-margin;
  }
}